#contact{
  display: block;
  position: relative;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 60px;
  background-image: url(../images/bg2.png);
  background-color: rgba(0, 0, 0, 1);
}
