.info-namber {
  @include column-flex($type: 'all');
  padding-top: 40px;
  padding-bottom: 40px;
  &__namber {
    font-family: $primary-font-stack;
    font-size: 14px;
    font-weight: $bold-font-size;
    color: color(contact-info-color);
    padding-bottom: 20px;
  }
  &__namber-name {
    font-family: $primary-font-stack;
    font-size: 14px;
    font-weight: $bold-font-size;
    color: color(contact-info-color);
  }
}
